@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

p {
  font-weight: 400;
  font-size: 1.2em;
  width: 100%;
  margin: 0;

  .inter {
    font-family: "Inter", sans-serif;
  }

  .nunito {
    font-family: 'Nunito', sans-serif;
  }

  .space-mono{
    font-family: "Space Mono", monospace;
  }

  @media (max-width: 768px) {
    font-size: 1.1em;
  }

}