* {
    font-family: "Nunito", sans-serif;
  }
  
  .certificate-container {
    margin-top: 1em;
    position: relative;
  
    span {
      font-size: 0.9em;
      color: #ff0000;
      visibility: visible;
      @media (max-width: 580px) {
        font-size: 0.75em;
      }
    }
  
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 1.5em;
      margin-top: 5spx;
  
      }
    }
  
  .inputCertificates,
  .inputTeam,
  .inputInstitution,
  .inputGraduation {
    margin-top: 1em;
  }

  input {
    height: 2.5em;
  }

  span {
    font-size: 0.9em;
    color: #ff0000;
    visibility: visible;
    @media (max-width: 580px) {
      font-size: 0.75em;
    }
  }
  
  